<footer class="footerstyle">
<a  class="linkstyle" href ="../about">About</a>|
<a  class="linkstyle" href = "#" >Hours of operation</a>|
<a  class="linkstyle" href ="#">Gift Cards</a>|
<a  class="linkstyle" href = "#">help</a>|
<a  class="linkstyle" href = "/contact">Contact</a>|
<a href="https://www.facebook.com/">
  <img  class="footerimage" src="../assets/images/facebook.png" alt="Facebook logo"> </a>
  <a href="https://www.twitter.com/">
    <img  class="footerimage" src="../assets/images/twitter.png" alt="Facebook logo"> </a>
   </footer>
