<header>
  <a href="/index"><img class="logo-img" src="assets/images/sportsclub.jpg" alt="sportsclub logo" id="s_img"></a>
    <h1 class="h1style"> Sports Meet </h1>
        <form class="formstyle">
      <a class="linkstyle" href="/newConnection">Start a new connection</a>
      <a class="linkstyle" href="/logout">Logout </a>
      <a class="linkstyle" href="/savedConnections">My Connections</a>
       </form>
</header>
