<!DOCTYPE html>
<html lang ="en">
  <head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start a new Connection</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
</head>
<body>
  <% if(userspecificnavFlag == 0) { %>
	<% include partials/header.ejs %>
	<% include partials/navigation.ejs %>
	<% } else if (userspecificnavFlag == 1) { %>
	<% include partials/header2.ejs %>
	<% include partials/navigation2.ejs %>
	<% } %>
	<main>
    <% if (errorMessage){ %>
          <p id="error_head"> <%= errorMessage%> </p>
        <% } %>
      <% if(!data){%>
		<form class="formclass-new" method='post' action="/connections">
			<table class="tableprop">
        <tr>
          <td class="td1style">  <p> topic  </p> </td>
          <td class="td2style"> <input name="category"  type="text" class="inputstyle" placeholder="topic" required> </td>
        </tr>
					<tr>
						<td class="td1style"> <p> name </p> </td>
						<td class="td2style"> <input name="connectionName" type="text" class="inputstyle" placeholder="name" required> </td>
					</tr>
					<tr>
						<td class="td1style"> <p> Details </p> </td>
						<td class="td2style"> <textarea name="details" id="Detail_Desc" placeholder="description" ></textarea></td>
					</tr>
          <tr>
						<td class="td1style"> <p> when </p> </td>
						<td class="td2style"> <input name= "date" type="date" class="inputstyle" required /> <p> Time:</p><input name="time" class="inputstyle" type="time"></td>
					</tr>
          <tr>
						<td class="td1style">  </td>
						<td class="td2style"> <input type="Submit" value="Create Connection"  class="submitstyle" /> </td>
					</tr>
			</table>
	  </form>
      <%}else{%>
        <form class="formclass-new" method='post' action="/connections">
    			<table class="tableprop">
            <tr>
              <td class="td1style">  <p> topic  </p> </td>
              <td class="td2style"> <input name="category"  type="text" class="inputstyle" value="<%= data.category %>" required> </td>
            </tr>
    					<tr>
    						<td class="td1style"> <p> name </p> </td>
    						<td class="td2style"> <input name="connectionName" type="text" class="inputstyle" value="<%= data.connectionName %>" required> </td>
    					</tr>
    					<tr>
    						<td class="td1style"> <p> Details </p> </td>
    						<td class="td2style"> <textarea name="details" id="Detail_Desc" value="<%= data.details %>" ></textarea></td>
    					</tr>
              <tr>
    						<td class="td1style"> <p> when </p> </td>
    						<td class="td2style"> <input name= "date" type="date" class="inputstyle" required /> <p> Time:</p><input name="time" class="inputstyle" type="time"></td>
    					</tr>
              <tr>
    						<td class="td1style">  </td>
    						<td class="td2style"> <input type="Submit" value="Create Connection"  class="submitstyle" /> </td>
    					</tr>
    			</table>
    	  </form>
        <%}%>
    <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
	</main>
	<% include partials/footer.ejs %>
</body>
</html>
